In [17]:
import sklearn
import pandas as pd
import numpy as np

In [18]:
y= pd.Dataframe([1,4,10,9,6,3,1,5])
x= pd.Dataframe([54,35,94,68,22,78,99,45])

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [12]:
from sklearn.linear_model import linearregression

ImportError: cannot import name 'linearregression' from 'sklearn.linear_model' (C:\Users\sanchita thakur\New folder\lib\site-packages\sklearn\linear_model\__init__.py)

In [8]:
lr = linearRegression()

NameError: name 'linearRegression' is not defined

In [13]:
import sklearn
import pandas as pd
import numpy as np

In [16]:
lr.fit(x,y)

NameError: name 'lr' is not defined

In [19]:
#Titanic Dataset Application

In [21]:
data = pd.read_csv("train.csv")

In [22]:
data.head(10) #first 10 rows

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [23]:
data.shape

(891, 12)

In [25]:
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [28]:
data_final = data.drop(["Age","Cabin","Embarked"], axis=1)

In [30]:
x = data_final.drop(["Survived"], axis=1)

In [31]:
y = data_final[["Survived"]]

In [32]:
from sklearn.model_selection import train_test_split

In [34]:
X_train, X_test, y_train, y_test = train_test_split( x,y, test_size=0.10)

In [37]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [ ]:
lr = LogisticRegression()
lk